*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black; 
    background-image: url(../img/3115119.jpg);
    background-repeat: no-repeat;
    background-clip: content-box;
    background-size: cover;
}

.contenedor {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.contenedor .contenedor-btn-personajes,
.contenedor .contenedor-btn-episodios {
    width: 40%;
    padding: 10px;
    display: inline-block;
    text-align: center;
    margin: 48px;
}

.btn {
    padding: 20px;
    background-color: rgb(4, 141, 141);
    color: white;
    box-shadow: 0 0 10px 0 rgb(165, 193, 245);
    border-radius: 10px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: 1s;
}

.btn:hover {
    background-color: cyan;
    box-shadow: 0 0 10px 0 cornflowerblue;
    transition: 1s;
    cursor: pointer;
}

.footer {
    background: fixed;
    bottom: 0;
    text-align: center;
}